In [22]:
import pandas as pd
import numpy as np
from tabulate import tabulate
import json

In [2]:
file = pd.read_csv (r'files/pobreza22.csv')
file

,folioviv,foliohog,numren,est_dis,upm,factor,tam_loc,rururb,ent,ubica_geo,...,ict,ing_mon,ing_lab,ing_ren,ing_tra,nomon,pago_esp,reg_esp,hli,discap
0,100005002,1,1,3,1,206,1,0.0,1,1001,...,15282.204133,15282.204133,12254.222301,0.000000,3027.981832,0.000000,0.0,0.000000,0.0,0.0
1,100005002,1,2,3,1,206,1,0.0,1,1001,...,15282.204133,15282.204133,12254.222301,0.000000,3027.981832,0.000000,0.0,0.000000,0.0,0.0
2,100005002,1,3,3,1,206,1,0.0,1,1001,...,15282.204133,15282.204133,12254.222301,0.000000,3027.981832,0.000000,0.0,0.000000,0.0,0.0
3,100005003,1,1,3,1,206,1,0.0,1,1001,...,36889.050990,33950.029778,22901.587447,11048.442332,0.000000,2939.021211,0.0,2939.021211,0.0,0.0
4,100005003,1,2,3,1,206,1,0.0,1,1001,...,36889.050990,33950.029778,22901.587447,11048.442332,0.000000,2939.021211,0.0,2939.021211,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309529,3260797910,1,1,560,10232,123,4,1.0,32,32046,...,51414.758596,46788.301738,46788.301738,0.000000,0.000000,4626.456858,0.0,4626.456858,0.0,0.0
309530,3260797910,1,2,560,10232,123,4,1.0,32,32046,...,51414.758596,46788.301738,46788.301738,0.000000,0.000000,4626.456858,0.0,4626.456858,0.0,0.0
309531,3260797912,1,1,560,10232,123,4,1.0,32,32046,...,14101.618920,13259.491956,13259.491956,0.000000,0.000000,842.126965,0.0,842.126965,0.0,0.0
309532,3260797912,1,2,560,10232,123,4,1.0,32,32046,...,14101.618920,13259.491956,13259.491956,0.000000,0.000000,842.126965,0.0,842.126965,0.0,0.0
309533,3260797912,1,3,560,10232,123,4,1.0,32,32046,...,14101.618920,13259.491956,13259.491956,0.000000,0.000000,842.126965,0.0,842.126965,NaN,0.0

INDICADORES DE CARENCIAS SOCIALES (REZAGO EDUCATIVO)

In [4]:
population = pd.read_csv(r'files/poblacion.csv')
pob= population.copy()
pob

/tmp/ipykernel_378732/1695102888.py:1: DtypeWarning: Columns (82,83,166) have mixed types. Specify dtype option on import or set low_memory=False.
  population = pd.read_csv(r'files/poblacion.csv')

,folioviv,foliohog,numren,parentesco,sexo,edad,madre_hog,madre_id,padre_hog,padre_id,...,motivo_aus,act_pnea1,act_pnea2,num_trabaj,c_futuro,ct_futuro,entidad,est_dis,upm,factor
0,100005002,1,1,101,2,91,2,,2,,...,,5,,,,,1,3,1,206
1,100005002,1,2,301,2,48,1,01,2,,...,,,,1,,,1,3,1,206
2,100005002,1,3,609,2,13,1,02,2,,...,,4,,,,,1,3,1,206
3,100005003,1,1,101,1,68,2,,2,,...,,,,1,,,1,3,1,206
4,100005003,1,2,201,2,64,2,,2,,...,,,,1,,,1,3,1,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309679,3260797910,1,1,101,1,63,2,,2,,...,,,,1,,,32,560,10232,123
309680,3260797910,1,2,201,2,59,2,,2,,...,,,,1,,,32,560,10232,123
309681,3260797912,1,1,101,1,29,2,,2,,...,,,,1,,,32,560,10232,123
309682,3260797912,1,2,201,2,30,2,,2,,...,,,,1,,,32,560,10232,123
309683,3260797912,1,3,301,2,0,1,02,1,01,...,,,,,,,32,560,10232,123

In [5]:
pob[['parentesco', 'edad', 'asis_esc','nivelaprob', 'gradoaprob', 'antec_esc','hablaind' ]]=pob[['parentesco', 'edad', 'asis_esc','nivelaprob', 'gradoaprob', 'antec_esc','hablaind']].apply(pd.to_numeric, errors='coerce')

In [6]:
pob=pob[~((pob['parentesco'] >= 400) & (pob['parentesco'] <= 500) | 
          (pob['parentesco']>= 700) & (pob['parentesco'] <= 800))]
pob

,folioviv,foliohog,numren,parentesco,sexo,edad,madre_hog,madre_id,padre_hog,padre_id,...,motivo_aus,act_pnea1,act_pnea2,num_trabaj,c_futuro,ct_futuro,entidad,est_dis,upm,factor
0,100005002,1,1,101,2,91,2,,2,,...,,5,,,,,1,3,1,206
1,100005002,1,2,301,2,48,1,01,2,,...,,,,1,,,1,3,1,206
2,100005002,1,3,609,2,13,1,02,2,,...,,4,,,,,1,3,1,206
3,100005003,1,1,101,1,68,2,,2,,...,,,,1,,,1,3,1,206
4,100005003,1,2,201,2,64,2,,2,,...,,,,1,,,1,3,1,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309679,3260797910,1,1,101,1,63,2,,2,,...,,,,1,,,32,560,10232,123
309680,3260797910,1,2,201,2,59,2,,2,,...,,,,1,,,32,560,10232,123
309681,3260797912,1,1,101,1,29,2,,2,,...,,,,1,,,32,560,10232,123
309682,3260797912,1,2,201,2,30,2,,2,,...,,,,1,,,32,560,10232,123
309683,3260797912,1,3,301,2,0,1,02,1,01,...,,,,,,,32,560,10232,123

In [7]:
pob['anac_e'] = 2022 - pob['edad'].fillna(0)
pob

/tmp/ipykernel_378732/2316049796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pob['anac_e'] = 2022 - pob['edad'].fillna(0)

,folioviv,foliohog,numren,parentesco,sexo,edad,madre_hog,madre_id,padre_hog,padre_id,...,act_pnea1,act_pnea2,num_trabaj,c_futuro,ct_futuro,entidad,est_dis,upm,factor,anac_e
0,100005002,1,1,101,2,91,2,,2,,...,5,,,,,1,3,1,206,1931
1,100005002,1,2,301,2,48,1,01,2,,...,,,1,,,1,3,1,206,1974
2,100005002,1,3,609,2,13,1,02,2,,...,4,,,,,1,3,1,206,2009
3,100005003,1,1,101,1,68,2,,2,,...,,,1,,,1,3,1,206,1954
4,100005003,1,2,201,2,64,2,,2,,...,,,1,,,1,3,1,206,1958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309679,3260797910,1,1,101,1,63,2,,2,,...,,,1,,,32,560,10232,123,1959
309680,3260797910,1,2,201,2,59,2,,2,,...,,,1,,,32,560,10232,123,1963
309681,3260797912,1,1,101,1,29,2,,2,,...,,,1,,,32,560,10232,123,1993
309682,3260797912,1,2,201,2,30,2,,2,,...,,,1,,,32,560,10232,123,1992
309683,3260797912,1,3,301,2,0,1,02,1,01,...,,,,,,32,560,10232,123,2022

In [8]:
pob['inas_esc'] =np.NAN
pob.loc[(pob['asis_esc'] ==1 , 'inas_esc')] = 0
pob.loc[(pob['asis_esc']==2, 'inas_esc')] = 1
pob

/tmp/ipykernel_378732/1215809812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pob['inas_esc'] =np.NAN

,folioviv,foliohog,numren,parentesco,sexo,edad,madre_hog,madre_id,padre_hog,padre_id,...,act_pnea2,num_trabaj,c_futuro,ct_futuro,entidad,est_dis,upm,factor,anac_e,inas_esc
0,100005002,1,1,101,2,91,2,,2,,...,,,,,1,3,1,206,1931,1.0
1,100005002,1,2,301,2,48,1,01,2,,...,,1,,,1,3,1,206,1974,1.0
2,100005002,1,3,609,2,13,1,02,2,,...,,,,,1,3,1,206,2009,0.0
3,100005003,1,1,101,1,68,2,,2,,...,,1,,,1,3,1,206,1954,1.0
4,100005003,1,2,201,2,64,2,,2,,...,,1,,,1,3,1,206,1958,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309679,3260797910,1,1,101,1,63,2,,2,,...,,1,,,32,560,10232,123,1959,1.0
309680,3260797910,1,2,201,2,59,2,,2,,...,,1,,,32,560,10232,123,1963,1.0
309681,3260797912,1,1,101,1,29,2,,2,,...,,1,,,32,560,10232,123,1993,1.0
309682,3260797912,1,2,201,2,30,2,,2,,...,,1,,,32,560,10232,123,1992,1.0
309683,3260797912,1,3,301,2,0,1,02,1,01,...,,,,,32,560,10232,123,2022,NaN

In [10]:
pob['niv_ed'] = np.NAN
pob.loc[(pob['nivelaprob']<2) | ((pob['nivelaprob']==2) & (pob['gradoaprob']<6)), 'niv_ed'] = 0
pob.loc[((pob['nivelaprob'] == 2) & (pob['gradoaprob'] == 6)) |
           ((pob['nivelaprob'] == 3) & (pob['gradoaprob'] < 3)) |
           (((pob['nivelaprob'] == 5) | (pob['nivelaprob'] == 6)) & (pob['gradoaprob'] < 3) & (pob['antec_esc'] == 1)), 'niv_ed'] = 1
# Secundaria completa o media superior incompleta
pob.loc[((pob['nivelaprob'] == 3) & (pob['gradoaprob'] == 3)) |
           ((pob['nivelaprob'] == 4) & (pob['gradoaprob'] < 3)) |
           ((pob['nivelaprob'] == 5) & (pob['antec_esc'] == 1) & (pob['gradoaprob'] >= 3)) |
           ((pob['nivelaprob'] == 6) & (pob['antec_esc'] == 1) & (pob['gradoaprob'] >= 3)) |
           ((pob['nivelaprob'] == 5) & (pob['antec_esc'] == 2) & (pob['gradoaprob'] < 3)) |
           ((pob['nivelaprob'] == 6) & (pob['antec_esc'] == 2) & (pob['gradoaprob'] < 3)), 'niv_ed'] = 2
# Media superior completa o mayor nivel educativo
pob.loc[((pob['nivelaprob'] == 4) & (pob['gradoaprob'] == 3)) |
           ((pob['nivelaprob'] == 5) & (pob['antec_esc'] == 2) & (pob['gradoaprob'] >= 3)) |
           ((pob['nivelaprob'] == 6) & (pob['antec_esc'] == 2) & (pob['gradoaprob'] >= 3)) |
           ((pob['nivelaprob'] == 5) & (pob['antec_esc'] > 2)) |
           ((pob['nivelaprob'] == 6) & (pob['antec_esc'] > 2)) |
           ((pob['nivelaprob'] >= 7) & (~pob['nivelaprob'].isna())), 'niv_ed'] = 3

/tmp/ipykernel_378732/4081102288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pob['niv_ed'] = np.NAN

In [12]:
print(pob['niv_ed'].describe())

count    298064.000000
mean          1.548067
std           1.162372
min           0.000000
25%           0.000000
50%           2.000000
75%           3.000000
max           3.000000
Name: niv_ed, dtype: float64

In [13]:
# 1. Tiene de tres a 21 años, no cuenta con la educación obligatoria y no asiste a un centro de educación formal.
criterio1 = (pob['edad'] >= 3) & (pob['edad'] <= 21) & (pob['niv_ed'] < 2) & (pob['inas_esc'] == 1)

# 2. Tiene 22 años o más, nació a partir del año 1998 y no ha terminado la educación obligatoria (media superior).
criterio2 = (pob['edad'] >= 22) & (pob['anac_e'] >= 1998) & (pob['niv_ed'] < 3)

# 3. Tiene 16 años o más, nació entre 1982 y 1997 y no cuenta con el nivel de educación obligatorio vigente en el momento en que debía haberlo cursado (secundaria completa).
criterio3 = (pob['edad'] >= 16) & (pob['anac_e'] >= 1982) & (pob['anac_e'] <= 1997) & (pob['niv_ed'] < 2)

# 4. Tiene 16 años o más, nació antes de 1982 y no cuenta con el nivel de educación obligatorio vigente en el momento en que debía haberlo cursado (primaria completa).
criterio4 = (pob['edad'] >= 16) & (pob['anac_e'] < 1982) & (pob['niv_ed'] < 1)

In [19]:
total_pob = len(pob)
total_pobtotal_poblacion = len(pob)
porcentaje_criterio1 = criterio1.sum() / total_pob * 100
porcentaje_criterio2 = criterio2.sum() / total_pob * 100
porcentaje_criterio3 = criterio3.sum() / total_pob * 100
porcentaje_criterio4 = criterio4.sum() / total_pob * 100
total_pobtotal_poblacion = porcentaje_criterio1 + porcentaje_criterio2 + porcentaje_criterio3 + porcentaje_criterio4

In [20]:
# Mostrar resultados
print(f"Porcentaje que cumple con el criterio 1: {porcentaje_criterio1:.2f}%")
print(f"Porcentaje que cumple con el criterio 2: {porcentaje_criterio2:.2f}%")
print(f"Porcentaje que cumple con el criterio 3: {porcentaje_criterio3:.2f}%")
print(f"Porcentaje que cumple con el criterio 4: {porcentaje_criterio4:.2f}%")
print(f"Total de la población: {total_pob}")
print(f"Total de la población que cumple con los criterios: {total_pobtotal_poblacion:.2f}%")

Porcentaje que cumple con el criterio 1: 2.83%
Porcentaje que cumple con el criterio 2: 1.91%
Porcentaje que cumple con el criterio 3: 3.90%
Porcentaje que cumple con el criterio 4: 9.62%
Total de la población: 309534
Total de la población que cumple con los criterios: 18.25%

In [21]:
results={
    'Criterio': ['Criterio 1', 'Criterio 2', 'Criterio 3', 'Criterio 4', 'total_pob', 'total_pobtotal_poblacion'],
    'Porcentaje': [porcentaje_criterio1, porcentaje_criterio2, porcentaje_criterio3, porcentaje_criterio4, total_pob, total_pobtotal_poblacion]
}

In [26]:
# Exportar a un archivo JSON
with open('resultados.json', 'w') as json_file:
    json.dump(results, json_file)